language: cpp
os: [
  "linux"
]

jobs:
  fast_finish: true
  include:
    - dist: bionic
      env: CMAKE_BUILD_TYPE=Debug DIST=bionic CTEST_OUTPUT_ON_FAILURE=1
    - dist: bionic
      env: CMAKE_BUILD_TYPE=Release DIST=bionic CTEST_OUTPUT_ON_FAILURE=1
    - dist: xenial
      env: CMAKE_BUILD_TYPE=Debug DIST=xenial CTEST_OUTPUT_ON_FAILURE=1 CMAKE_CXX_STANDARD=11
    - dist: xenial
      env: CMAKE_BUILD_TYPE=Release DIST=xenial CTEST_OUTPUT_ON_FAILURE=1 CMAKE_CXX_STANDARD=11
    - dist: bionic
      env: CHECK_CLANG_FORMAT=1
  allow_failures:
    - dist: bionic
      env: CMAKE_BUILD_TYPE=Debug DIST=bionic CTEST_OUTPUT_ON_FAILURE=1

before_install:
  - echo "deb [arch=amd64] http://robotpkg.openrobots.org/wip/packages/debian/pub $(lsb_release -sc) robotpkg" | sudo tee -a /etc/apt/sources.list.d/robotpkg.list && echo "deb [arch=amd64] http://robotpkg.openrobots.org/packages/debian/pub $(lsb_release -sc) robotpkg" | sudo tee -a /etc/apt/sources.list.d/robotpkg.list && curl http://robotpkg.openrobots.org/packages/debian/robotpkg.key | sudo apt-key add -

install:
  - sudo apt update -qq
  - /bin/bash .travis/install-prerequisites.sh
  - export PATH=/opt/openrobots/bin:$PATH
  - export PKG_CONFIG_PATH=/opt/openrobots/lib/pkgconfig:$PKG_CONFIG_PATH
  - export LD_LIBRARY_PATH=/opt/openrobots/lib:$LD_LIBRARY_PATH
  - export PYTHONPATH=/opt/openrobots/lib/python2.7/site-packages:$PYTHONPATH
  - export CMAKE_PREFIX_PATH=/opt/openrobots:$CMAKE_PREFIX_PATH
  - export ROS_PACKAGE_PATH=/opt/openrobots/share

script:
  - travis_wait 90 /bin/bash .travis/build-and-test.sh
  - travis_wait 60 /bin/bash .travis/check-formatting.sh
