<?xml version="1.0" encoding="utf-8"?>
<robot
  name="2dof_planar">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.1" />
      <inertia
        ixx="1"
        ixy="0"
        ixz="0"
        iyy="1"
        iyz="0"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0 0 0.05"
        rpy="0 0 0" />
      <mass
        value="0.2" />
      <inertia
        ixx="0.000177083"
        ixy="0"
        ixz="0"
        iyy="0.000177083"
        iyz="0"
        izz="0.000020833" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.05"
        rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.025 0.1"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.05"
        rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.025 0.1"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.025 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.05" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0 0 0.1"
        rpy="0 0 0" />
      <mass
        value="0.3" />
      <inertia
        ixx="0.001015625"
        ixy="0"
        ixz="0"
        iyy="0.001015625"
        iyz="0"
        izz="0.002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.1"
        rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.025 0.2"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.1"
        rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.025 0.2"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.0125 0 0.1"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.05" />
  </joint>

  <!-- For the end effector -->
  <link name="link3">
    <inertial>
    <mass value="0.0"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <joint name="joint3" type="fixed">
    <origin xyz="0 0 0.2" rpy="0 0 0" />
    <parent link="link2" />
    <child link="link3" />
    <axis xyz="1 0 0" />
  </joint>

</robot>
